
/*Grille des joueurs*/
.grid{
  height: 650px;
  width: 550px;
  display: inline-block;
  margin-left: 50px;
  padding-top: 150px;
}

.carreau{
  height: 50px;
  width: 50px;
  background-color: bisque;
  display: inline-block;
  border: 2px solid black;
  /* background-image: url("../img/feu.gif");
  background-size: cover; */
}

.carreauEnnemi:hover {
    cursor: pointer;
    background-image: url("../img/viseur.png");
    background-size: cover;
}

.game{
  height: 1500px;
  width: 1300px;
  justify-content: center;
}

/* HEADER */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
  }
  
  .players {
    display: flex;
    align-items: center;
    margin-left: 30%;
  }
  
  .player {
    display: flex;
    align-items: center;
    margin-right: 30px;
  }
  
  .player img {
    width: 50px;
    height: 50px;
    margin-right: 10px;
  }
  
  .player h3 {
    margin: 0;
  }
  
  .player span {
    font-size: 14px;
    margin-left: 10px;
  }